<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Lekcja 17 - Flask</h1>
    <p>Strona główna aplikacji.</p>

    <ul>
        <li><a href="/me">O mnie</a></li>
        <li><a href="/add/5/7">Kalkulator: 5 + 7</a></li>
        <li><a href="/movies">Filmy</a></li>
        <li><a href="/book">Książka</a></li>
        <li><a href="/gallery">Galeria</a></li>
        <li><a href="/products">Produkty</a></li>
        <li><a href="/register">Rejestracja</a></li>
        <li><a href="/init-db">Utwórz bazę i produkty testowe</a></li>
    </ul>
</body>
</html>
