{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Lista Artykułów</title>
    <link rel="stylesheet" href="{% static 'article/style.css' %}">
</head>

<body>
    <h1>Wszystkie artykuły</h1>

    <form method="GET">
        <input type="text" name="q" value="{{ query }}" placeholder="Szukaj po tytule">
        <button type="submit">Szukaj</button>
    </form>

    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    {% if article.is_new %}
                        <span>NOWOŚĆ!</span>
                    {% endif %}
                    <p>Opublikowano: {{ article.pub_date|date:"d.m.Y" }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak artykułów do wyświetlenia.</p>
    {% endif %}
</body>

</html>
