{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Dołącz Już Dziś</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Zarejestruj się</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Masz już konto? 
        </small>
    </div>
</div>
{% endblock content %}