<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wszystkie notatki{% endblock %}</title>
</head>

<body>
    <h1>Notatki</h1>

    {% for note in page_obj %}
        <article>
            <h2>Tytuł: {{ note.title }}</h2>
            <p>Opis:<br>{{ note.content }}</p>
        </article>
    {% empty %}
        <p>Brak notatek do wyświetlenia.</p>
    {% endfor %}

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">następna</a>
        {% endif %}
    </div>
</body>

</html>
