{% extends 'base.html' %}
{% block content %}
<h2>Lista postów</h2>
{% for post in page_obj %}
<article>
    <h3>{{ post.title }}</h3>
    <p>{{ post.description|truncatewords:1 }}</p> <!-- Wyświetlamy
tylko 20 pierwszych słów -->
</article>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; pierwsza</a>
        <a href="?page={{ page_obj.previous_page_number
}}">poprzednia</a>
        {% endif %}
        <span class="current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">następna</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia
            &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}